<div class="header_section">
    <div class="container">
       <div class="containt_main">
          <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="index">Home</a>
             <a href="Fashion">Fashion</a>
             <a href="Shoes">Shoes</a>
             <a href="Jewellry">Jewellery</a>
          </div>